body { 
background-color: #444233;
color: #dddddd;
font-family: Arial, Helvetica, sans-serif;
margin: 10% 20%;
color: #ff69b4;
  text-align:center;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0,0.1) 
}
h3{
  font-size: 30px;
  -webkit-text-fill-color: #ffd700;
  -webkit-text-stroke-width:2px;
  color: #ff69b4
}
h4{ text-align:center; 
  font-size: 18px;
  -webkit-text-fill-color: #ffd700;
  -webkit-text-stroke-width:1px;
  color: #000}
h5{  font-size: 20px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width:1px;
  color: #000}
h6{  font-size: 20px;
  -webkit-text-fill-color: #ff00ff;
  -webkit-text-stroke-width:1px;
  color: #0000cd;
  position:relative; top:-15px;}


.clip-text {
  background: url(https://media.giphy.com/media/xThuWcaa4U4XZQDgvm/giphy.gif);
  background-size: cover;
  background-position: center;
  
  -webkit-background-clip: text;
  color: transparent; /
  
  width: 300px;
  height: 100px;
  box-sizing: border-box;
  font-size: px;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  flex-shrink: 0;
  
  
